include header.pug
ul(style="list-style: none;")
	each post in posts
		li 
			h3
				a(href='/post/' + post.id)= post.title
			| 发帖人：
			a(href="/user/" + post.ownerId)= post.ownerName    
			| 发帖时间：
			small= moment(post.timestamp).fromNow()


