include header.pug

h3 我的帖子
	ul
		each post in posts
			li
				p= post.content
					| 
					small= moment(post.timestamp).fromNow()


h3 我的评论
	ul
		each comment in comments
			li
				p= comment.content
					| 
					small= moment(comment.timestamp).fromNow()